@import "tailwindcss";
@layer base {
  body {
    background-color: #e0e0e0;
  }
  button {
    width: 5em;
    height: 3em;
    border-radius: 36px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:
      5px 5px 10px #747474,
      -5px -5px 10px #ffffff;
    margin: 10px;
  }

  /* 悬停时按钮样式 */
  button:hover {
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    cursor: pointer; 
  }
  /* 禁用按钮样式 */
  button:disabled {
    cursor: not-allowed; /* 更改鼠标指针为“不允许” */
    box-shadow: none;
    background: none;
    background-color: #cacaca;
    /* background: none; */
  }

  .butEn {
    box-shadow:
      inset 3px 3px 6px #000000,
      inset -2px -2px 6px #ffffffa4;
  }

  .but:active:not(:disabled) {
    box-shadow:
    inset 5px 5px 10px #141414a2,
    inset -5px -5px 10px #ffffff63;
  }
  chart-legend { 
    cursor: pointer !important;
  }
}
